<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<!-- 导入shiro的相关配置 -->
    <import resource="classpath:spring-shiro.xml"/>
    
	
	<!-- 扫描所有controller包下面的所有controller -->
	<context:component-scan base-package="com" />
	<!--避免IE执行AJAX时，返回JSON出现下载文件 -->
	<bean id="mappingJacksonHttpMessageConverter"
		class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter">
		<property name="supportedMediaTypes">
			<list>
				<value>text/html;charset=UTF-8</value>
			</list>
		</property>
	</bean>
	
	<!-- 开启注解配置 -->
	<mvc:annotation-driven />	
	
	<!-- 静态资源解析，包括js,css,img... -->
	<mvc:resources location="/image/" mapping="/image/**" />
	
	
	<!-- 配置视图解析器 -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<!--视图前缀 -->
		<property name="prefix" value="/WEB-INF/jsp/" />
		<!--视图后缀 -->
		<property name="suffix" value=".jsp" />
	</bean>
	
	<!-- 开启shiro注解 -->
    <bean
        class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"
        depends-on="lifecycleBeanPostProcessor">
        <property name="proxyTargetClass" value="true" />
    </bean>

    <bean
        class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
        <property name="securityManager" ref="securityManager" />
    </bean>
    
     <!-- 未认证或未授权时跳转必须在springmvc里面配，spring-shiro里的shirofilter配不生效 -->
    <bean
        class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
        <property name="exceptionMappings">
            <props>
                <!--表示捕获的异常 -->
                <prop key="org.apache.shiro.authz.UnauthorizedException">
                    <!--捕获该异常时跳转的路径 -->
                    /error/unauthorized
                </prop>
                <!--表示捕获的异常 -->
                <prop key="org.apache.shiro.authz.UnauthenticatedException">
                    <!--捕获该异常时跳转的路径 -->
                    /error/unauthorized
                </prop>
            </props>
        </property>
    </bean>
	
	<!-- 上传文件 -->    
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">    
	    <property name="defaultEncoding" value="utf-8"/>    
	    <!-- 最大内存大小 -->    
<!-- 	    <property name="maxInMemorySize" value="10240"/>     -->
	    <!-- 最大文件大小，-1为不限制大小 -->    
<!-- 	    <property name="maxUploadSize" value="-1"/>     -->
    </bean> 
	
	<!--  配置登陆拦截器 -->
 	<mvc:interceptors>
		<mvc:interceptor>	 		
			<mvc:mapping path="/**"/> 			 
			 <mvc:exclude-mapping path="/**/fonts/*"/>
	         <mvc:exclude-mapping path="/**/*.css"/>
	         <mvc:exclude-mapping path="/common/**"/>
	         <mvc:exclude-mapping path="/CSS/**"/>
	         <mvc:exclude-mapping path="/**/*.js"/>
	         <mvc:exclude-mapping path="/**/*.png"/>
	         <mvc:exclude-mapping path="/**/*.gif"/>
	         <mvc:exclude-mapping path="/**/*.jpg"/>
	         <mvc:exclude-mapping path="/**/*.jpeg"/>
	         <mvc:exclude-mapping path="/user/login"/>
	         <mvc:exclude-mapping path="/user/toLogin"/>
	         <mvc:exclude-mapping path="/user/toRegist"/>
	         <mvc:exclude-mapping path="/user/regist"/>
			<mvc:exclude-mapping path="/user/toRetrievePassword"/>
			<mvc:exclude-mapping path="/user/retrievePassword"/>
			<mvc:exclude-mapping path="/user/regist_success"/>
			<bean class="com.interceptor.LoginInterceptor"></bean>
		</mvc:interceptor>
	</mvc:interceptors>

	<!--   配置转换器（比如Date类型） -->
	<bean id="conversionService" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
	     <property name="converters">
	         <list>
	             <bean class="com.util.CreateTimeConvert"></bean>
	         </list>
	     </property>
	 </bean>
</beans>