.div-top .navbar {
	background-color: #036;
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	border:0px;
	border-radius:0px;
}
.div-content {
	background-color: #f5f5f5;
	height: 100%;
	width: 100%;
	position: absolute;
	margin-top: 0px;
	margin-bottom: 0px;
}
.container-fluid{
	margin-left: 0px;
	margin-right: 0px;
}
.navbar{
	height: 0px;
}
.navbar .nav > li > a{
	 color: white;   
	 border-color: white; 
}
.navbar .navbar-header > a{
	margin-left:0px;
	color:white;
}
.navbar .nav > li > a:hover {
  	color: red;
	background-color: #000000;
}	
.navbar .navbar-brand:hover{
	color: aqua;
	background-color: #000000;
}
.sidebar-fold{
	height: 30px;
	width: 160px;
	text-align: center;
	background-color: #394555;
}

.div-main {
	top: 0px;
	bottom: 0px;
	width: 160px;
	background-color: #293038;
	position: absolute;
	z-index: 100;
}
.right-main {
	position: absolute;
	bottom: 0px;
	top: 0px;
}
.left-main {
	
}
.left-main>li{
	height: 40px;
	width: 160px;
}
.left-main>li:hover{
	height: 40px;
	width: 160px;
	background-color: red;
}
.left-main>li:active{
	height: 40px;
	width: 160px;
	background-color: #394555;
}	
.left-main>li>a{
	height: 40px;
	width: 160px;
	margin-left:-15px;
}
.left-main .glyphicon{
	width: 48px;
	line-height: 36px;
	text-align: center;
	color:#fff;
}
.sidebar-fold .glyphicon{
	width: 30px;
	line-height: 30px;
	font-size:12px;
	text-align: center;
	color:#fff;
}
.left-main .sub-title{
	width: 48px;
	line-height: 36px;
	text-align: center;
	color:#fff;
}
.right-main {
	left:160px;
	right:0px;
	text-align: center;
}
table,th,td
{
border:1px solid #e7eaec;
font-size: 14px;
background-color: white;
text-align: center;
}
table{
	width: 70%;
}
.cur{ 
color:red;
background-color:red;
height: 40px;
width: 160px;
}
