<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.ProjectInfoMapper" >
  <resultMap id="BaseResultMap" type="com.entity.ProjectInfo" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="proName" property="proname" jdbcType="VARCHAR" />
    <result column="provice" property="provice" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="creater" property="creater" jdbcType="INTEGER" />
    <result column="signer" property="signer" jdbcType="INTEGER" />
    <result column="orgId" property="orgid" jdbcType="VARCHAR" />
    <result column="productType" property="producttype" jdbcType="CHAR" />
    <result column="quotePrice" property="quoteprice" jdbcType="DECIMAL" />
    <result column="agreement" property="agreement" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="CHAR" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="spare1" property="spare1" jdbcType="VARCHAR" />
    <result column="spare2" property="spare2" jdbcType="VARCHAR" />
    <result column="spare3" property="spare3" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, proName, provice, city, creater, signer, orgId, productType, quotePrice, agreement, 
    state, createTime, spare1, spare2, spare3
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.entity.ProjectInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from project_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from project_info
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from project_info
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.entity.ProjectInfoExample" >
    delete from project_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.entity.ProjectInfo" >
    insert into project_info (id, proName, provice, 
      city, creater, signer, 
      orgId, productType, quotePrice, 
      agreement, state, createTime, 
      spare1, spare2, spare3
      )
    values (#{id,jdbcType=VARCHAR}, #{proname,jdbcType=VARCHAR}, #{provice,jdbcType=VARCHAR}, 
      #{city,jdbcType=VARCHAR}, #{creater,jdbcType=INTEGER}, #{signer,jdbcType=INTEGER}, 
      #{orgid,jdbcType=VARCHAR}, #{producttype,jdbcType=CHAR}, #{quoteprice,jdbcType=DECIMAL}, 
      #{agreement,jdbcType=VARCHAR}, #{state,jdbcType=CHAR}, #{createtime,jdbcType=TIMESTAMP}, 
      #{spare1,jdbcType=VARCHAR}, #{spare2,jdbcType=VARCHAR}, #{spare3,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.entity.ProjectInfo" >
    insert into project_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="proname != null" >
        proName,
      </if>
      <if test="provice != null" >
        provice,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="creater != null" >
        creater,
      </if>
      <if test="signer != null" >
        signer,
      </if>
      <if test="orgid != null" >
        orgId,
      </if>
      <if test="producttype != null" >
        productType,
      </if>
      <if test="quoteprice != null" >
        quotePrice,
      </if>
      <if test="agreement != null" >
        agreement,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
      <if test="spare1 != null" >
        spare1,
      </if>
      <if test="spare2 != null" >
        spare2,
      </if>
      <if test="spare3 != null" >
        spare3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="proname != null" >
        #{proname,jdbcType=VARCHAR},
      </if>
      <if test="provice != null" >
        #{provice,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="creater != null" >
        #{creater,jdbcType=INTEGER},
      </if>
      <if test="signer != null" >
        #{signer,jdbcType=INTEGER},
      </if>
      <if test="orgid != null" >
        #{orgid,jdbcType=VARCHAR},
      </if>
      <if test="producttype != null" >
        #{producttype,jdbcType=CHAR},
      </if>
      <if test="quoteprice != null" >
        #{quoteprice,jdbcType=DECIMAL},
      </if>
      <if test="agreement != null" >
        #{agreement,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=CHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="spare1 != null" >
        #{spare1,jdbcType=VARCHAR},
      </if>
      <if test="spare2 != null" >
        #{spare2,jdbcType=VARCHAR},
      </if>
      <if test="spare3 != null" >
        #{spare3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.entity.ProjectInfoExample" resultType="java.lang.Integer" >
    select count(*) from project_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update project_info
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.proname != null" >
        proName = #{record.proname,jdbcType=VARCHAR},
      </if>
      <if test="record.provice != null" >
        provice = #{record.provice,jdbcType=VARCHAR},
      </if>
      <if test="record.city != null" >
        city = #{record.city,jdbcType=VARCHAR},
      </if>
      <if test="record.creater != null" >
        creater = #{record.creater,jdbcType=INTEGER},
      </if>
      <if test="record.signer != null" >
        signer = #{record.signer,jdbcType=INTEGER},
      </if>
      <if test="record.orgid != null" >
        orgId = #{record.orgid,jdbcType=VARCHAR},
      </if>
      <if test="record.producttype != null" >
        productType = #{record.producttype,jdbcType=CHAR},
      </if>
      <if test="record.quoteprice != null" >
        quotePrice = #{record.quoteprice,jdbcType=DECIMAL},
      </if>
      <if test="record.agreement != null" >
        agreement = #{record.agreement,jdbcType=VARCHAR},
      </if>
      <if test="record.state != null" >
        state = #{record.state,jdbcType=CHAR},
      </if>
      <if test="record.createtime != null" >
        createTime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.spare1 != null" >
        spare1 = #{record.spare1,jdbcType=VARCHAR},
      </if>
      <if test="record.spare2 != null" >
        spare2 = #{record.spare2,jdbcType=VARCHAR},
      </if>
      <if test="record.spare3 != null" >
        spare3 = #{record.spare3,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update project_info
    set id = #{record.id,jdbcType=VARCHAR},
      proName = #{record.proname,jdbcType=VARCHAR},
      provice = #{record.provice,jdbcType=VARCHAR},
      city = #{record.city,jdbcType=VARCHAR},
      creater = #{record.creater,jdbcType=INTEGER},
      signer = #{record.signer,jdbcType=INTEGER},
      orgId = #{record.orgid,jdbcType=VARCHAR},
      productType = #{record.producttype,jdbcType=CHAR},
      quotePrice = #{record.quoteprice,jdbcType=DECIMAL},
      agreement = #{record.agreement,jdbcType=VARCHAR},
      state = #{record.state,jdbcType=CHAR},
      createTime = #{record.createtime,jdbcType=TIMESTAMP},
      spare1 = #{record.spare1,jdbcType=VARCHAR},
      spare2 = #{record.spare2,jdbcType=VARCHAR},
      spare3 = #{record.spare3,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.entity.ProjectInfo" >
    update project_info
    <set >
      <if test="proname != null" >
        proName = #{proname,jdbcType=VARCHAR},
      </if>
      <if test="provice != null" >
        provice = #{provice,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="creater != null" >
        creater = #{creater,jdbcType=INTEGER},
      </if>
      <if test="signer != null" >
        signer = #{signer,jdbcType=INTEGER},
      </if>
      <if test="orgid != null" >
        orgId = #{orgid,jdbcType=VARCHAR},
      </if>
      <if test="producttype != null" >
        productType = #{producttype,jdbcType=CHAR},
      </if>
      <if test="quoteprice != null" >
        quotePrice = #{quoteprice,jdbcType=DECIMAL},
      </if>
      <if test="agreement != null" >
        agreement = #{agreement,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=CHAR},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="spare1 != null" >
        spare1 = #{spare1,jdbcType=VARCHAR},
      </if>
      <if test="spare2 != null" >
        spare2 = #{spare2,jdbcType=VARCHAR},
      </if>
      <if test="spare3 != null" >
        spare3 = #{spare3,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.entity.ProjectInfo" >
    update project_info
    set proName = #{proname,jdbcType=VARCHAR},
      provice = #{provice,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      creater = #{creater,jdbcType=INTEGER},
      signer = #{signer,jdbcType=INTEGER},
      orgId = #{orgid,jdbcType=VARCHAR},
      productType = #{producttype,jdbcType=CHAR},
      quotePrice = #{quoteprice,jdbcType=DECIMAL},
      agreement = #{agreement,jdbcType=VARCHAR},
      state = #{state,jdbcType=CHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      spare1 = #{spare1,jdbcType=VARCHAR},
      spare2 = #{spare2,jdbcType=VARCHAR},
      spare3 = #{spare3,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>